<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body style="margin:7px">
  <div class="row">
    <!--Editor starts here-->
    <div class="editor col s12 m12 l6 xl6">
      <!--Header starts here-->
      <div class="heading-container">
        <div class="heading">Try Box Exec</div>
        <div style="float:right; max-height: inherit; min-height: inherit">
          <select class="lang-selector">
            <option value="C++">C++</option>
            <option value="C">C</option>
            <option value="Python 2">Python 2</option>
            <option value="Python 3">Python 3</option>
            <option value="Java">Java</option>
          </select>
        </div>
      </div> <!--Header ends here-->
      <div class="code-section" contenteditable="true"></div>
    </div> <!--Editor ends here-->
    <!--Second column starts here-->
    <div class="col s12 m12 l6 xl6" style="padding:0">
      <div class="col2-40">
        <div class="heading-container">
          <div class="heading">Test case</div>
          <div class="heading" style="float:right"><button class="run">Run</button></div>
        </div>
        <div class="test-case-section" contenteditable="true"></div>
      </div>
    </div> <!--Second column ends here-->
  </div> <!--Row ends here-->
</body>

<!--Editor events script-->
<script src='/events.js'></script>
<!--Socket script-->
<script src='/socket.io/socket.io.js'></script>
<script>
  var socket = io('/');
  socket.on('join', function (id) {
    console.log(id);
  });
  socket.on('stage', function (s) {
    console.log(s);
  });
  socket.on('output', function (o) {
    console.log(o);
  });
  socket.on('error', function (err) {
    console.log(err);
  });
</script>
