<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body style="margin:7px">
  <div class="row">
    <!--Editor starts here-->
    <div class="editor col s12 m12 l6 xl6">
      <!--Header starts here-->
      <div class="heading-container">
        <div class="heading">Code</div>
        <div style="float:right; max-height: inherit; min-height: inherit">
          <select id="lang" class="lang-selector">
            <option value="16">C++</option>
            <option value="11">C</option>
            <option value="7">Python 2</option>
            <option value="9">Python 3</option>
            <option value="25">Java</option>
          </select>
        </div>
      </div> <!--Header ends here-->
      <div id="code" class="code-section" contenteditable="true"></div>
    </div> <!--Editor ends here-->
    <!--Second column starts here-->
    <div class="col s12 m12 l6 xl6" style="padding:0">
      <div class="col2-40">
        <div class="heading-container">
          <div class="heading">Test case</div>
          <div class="heading" style="float:right"><button class="run">Run</button></div>
        </div>
        <div id="testCase" class="test-case-section" contenteditable="true"></div>
        <div class="heading-container footer-container">
          <div class="heading label">Timeout</div>
          <div id="timeOut" class="heading label input" contenteditable="true" placeholder="2"></div>
          <div class="heading label" style="padding-left:2px; border:none">seconds</div>
        </div>
      </div> <!--Test case section column ends here-->
      <div class="col2-30">
        <div class="heading-container">
          <div class="heading">Output</div>
        </div>
        <div id="output" class="output-section"></div>
      </div> <!--Output section column ends here-->
      <div class="col2-rest">
        <div class="heading-container">
          <div class="heading">Status</div>
        </div>
        <div id="status" class="status-section"></div>
      </div> <!--Status section ends here-->
    </div> <!--Second column ends here-->
  </div> <!--Row ends here-->
</body>

<!--Editor events script-->
<script src='/events.js'></script>
<!--Socket script-->
<script src='/socket.io/socket.io.js'></script>
<script>
  var socket = io('/');
  socket.on('join', function (id) {
    window.socketID = id;
    console.log(socketID);
    console.log(id);
  });
  socket.on('stage', function (s) {
    console.log(s);
  });
  socket.on('output', function (o) {
    o = o[Object.keys(o)[0]].output;
    o = o.replace(/ /g, '\u00a0');
    o = o.replace(/\t/g, '\u00a0\u00a0\u00a0\u00a0');
    document.getElementById('output').innerHTML = o;
  });
  socket.on('error', function (err) {
    console.log(err);
  });
</script>
