.row .editor {
  padding: 0;
  min-height: 100%;
  max-height: 100%;
  font-size: 1.05rem;
  border-radius: 0.5rem;
  border: 1px solid;
}

.lang-selector {
  display: inherit;
  font-size: 1rem;
  min-height: 2rem;
  max-height: 2rem;
  border: 1px solid;
  margin-top: 0.2rem;
}

.code-section {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  min-width: 100%;
  max-width: 100%;
  min-height: calc(100% - 2.7rem);
  max-height: calc(100% - 2.7rem);
  padding-left: 7px;
  padding-top: 7px;
  line-height: 1.5rem;
}

.code-section:focus {
  outline: 0px solid transparent;
}

.heading-container {
  border-bottom: 1px solid;
  padding-left: 7px;
  padding-right: 7px;
  min-height: 2.5rem;
  max-height:2.5rem
}

.heading {
  margin-top:0.2rem;
  float:left;
  max-height: 2.3rem;
  min-height: 2.3rem
}

.test-case-section {
  min-height: calc(40% - 2.7rem);
  max-height: calc(40% - 2.7rem);
  min-width: inherit;
  max-width: inherit;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.test-case-section:focus {
  outline: 0px solid transparent;
}

.col2-40 {
  min-height:40%;
  max-height:40%;
  min-width:inherit;
  max-width:inherit;
  border-radius:0.5rem;
  border: 1px solid
}

/*
  Modile devices
*/
@media (max-width: 600px) {
  .row .editor {
    min-height: 70%;
    max-height: 70%;
    font-size: 1.25rem;
  }

  .code-section {
    min-height: calc(70% - 2.7rem);
    max-height: calc(70% - 2.7rem);
  }
}

/*
  Tablets potrait
*/
@media (min-width: 600px) {
  .row .editor {
    min-height: 70%;
    max-height: 70%;
    font-size: 1.5rem;
  }

  .code-section {
    min-height: calc(70% - 2.7rem);
    max-height: calc(70% - 2.7rem);
  }
}

/*
  Tablets landscape
*/
@media (min-width: 769px) {
  .row .editor {
    min-height: 100%;
    max-height: 100%;
    font-size: 1.5rem;
  }

  .code-section {
    min-height: calc(100% - 2.7rem);
    max-height: calc(100% - 2.7rem);
  }
}

@media (min-width: 992px) {
  .row .editor {
    font-size: 1.5rem;
  }
}
