body {
  font-size: 1.05rem;
}

.row .editor {
  padding: 0;
  min-height: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  border: 1px solid;
}

.lang-selector {
  display: inherit;
  font-size: 1rem;
  min-height: 2rem;
  max-height: 2rem;
  border: 1px solid;
  margin-top: 0.2rem;
}

.code-section {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  min-width: inherit;
  max-width: inherit;
  min-height: calc(100% - 2.6rem);
  max-height: calc(100% - 2.6rem);
  padding-left: 7px;
  padding-top: 7px;
  line-height: 1.5rem;
}

.code-section:focus {
  outline: 0px solid transparent;
}

.heading-container {
  border-bottom: 1px solid;
  padding-left: 7px;
  padding-right: 7px;
  min-height: 2.5rem;
  max-height:2.5rem
}

.heading-container.footer-container {
  border-top:1px solid;
  border-bottom: 0;
}

.heading.label {
  min-width: 5.2rem;
  border-right: 1px solid;
}

.heading {
  padding-top:0.2rem;
  float:left;
  max-height: 2.3rem;
  min-height: 2.3rem
}

.test-case-section {
  min-height: calc(40% - 5rem);
  max-height: calc(40% - 5rem);
  min-width: inherit;
  max-width: inherit;
  line-height: 1.5rem;
  padding-top: 7px;
  padding-left: 7px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.test-case-section:focus {
  outline: 0px solid transparent;
}

.col2-40 {
  min-height:40%;
  max-height:40%;
  min-width:inherit;
  max-width:inherit;
  border-radius:0.5rem;
  border: 1px solid
}

.col2-30 {
  min-height: 30%;
  max-height: 30%;
  min-width: inherit;
  max-width: inherit;
  border-radius:0.5rem;
  border: 1px solid;
}

.col2-rest {
  min-height: calc(30% - 14px);
  max-height: calc(30% - 14px);
  min-width: inherit;
  max-width: inherit;
  border-radius: 0.5rem;
  border: 1px solid;
}

.run {
  background: rgb(88, 122, 216);
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
}

.output-section {
  min-height: calc(30% - 2.6rem);
  max-height: calc(30% - 2.6rem);
  min-width: inherit;
  max-width: inherit;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
}

.status-section {
  min-height: calc(30% - 14px - 2.6rem);
  max-height: calc(30% - 14px - 2.6rem);
  min-width: inherit;
  max-width: inherit;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
  background: rgb(32, 32, 32);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: greenyellow;
}

/*
  Modile devices
*/
@media (max-width: 600px) {
  body {
    font-size: 1.25rem;
  }

  .row .editor {
    min-height: 70%;
    max-height: 70%;
  }

  .code-section {
    min-height: calc(70% - 2.6rem);
    max-height: calc(70% - 2.6rem);
  }

  .col2-40 {
    margin-top: 7px;
  }

  .col2-30 {
    margin-top: 7px;
  }

  .col2-rest {
    margin-top: 7px;
  }
}

/*
  Tablets potrait
*/
@media (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }

  .row .editor {
    min-height: 70%;
    max-height: 70%;
  }

  .code-section {
    min-height: calc(70% - 2.6rem);
    max-height: calc(70% - 2.6rem);
  }

  .col2-40 {
    margin-top: 7px;
  }

  .col2-30 {
    margin-top: 7px;
  }

  .col2-rest {
    margin-top: 7px;
  }
}

/*
  Tablets landscape
*/
@media (min-width: 769px) {
  body {
    font-size: 1.5rem;
  }

  .row .editor {
    min-height: 100%;
    max-height: 100%;
  }

  .code-section {
    min-height: calc(100% - 2.6rem);
    max-height: calc(100% - 2.6rem);
  }

  .col2-40 {
    margin-top: 0;
    margin-left: 7px;
  }

  .col2-30 {
    margin-top: 7px;
    margin-left: 7px;
  }

  .col2-rest {
    margin-left: 7px;
  }
}

/*
  Scrollbar
*/

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
